<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 with-background">
      <!-- Contenido para el 1/4 -->
    </div>
    <div class="col-md-9 der-background">
      <!-- Contenido para el 3/4 restante -->
      <form [formGroup]="identificacionForm" (ngSubmit)="crearIdentificacion()">
        <div class="titulo-azul">
          <div class="icono-imagen-primero">
            <img src="assets/logomini.png" alt="Icono">
          </div>
              <h1 style="padding-left: 5%">AGREGAR IDENTIFICACION</h1>
        </div>
        
        <div class="fondo-cuadrado-verde" id="contenidoDinamico">

          <div class="cuadrado-azul">
            <div class="icono-imagen">
              <img src="assets\seguridad.png" alt="Icono">
            </div>
            <input type="text" formControlName="nombre" placeholder="Nombre de login" class="single-line-input" id="nombre">
          </div>
            
          <div class="cuadrado-azul">
            <div class="icono-imagen">
              <img src="assets\seguridad.png" alt="Icono">
            </div>
            <input type="text" formControlName="numeroIdentificacion" placeholder="Numero de Identificacion" class="single-line-input" id="numeroIdentificacion">
          </div>
        
          <div class="cuadrado-azul">
            <div class="icono-imagen">
              <img src="assets\seguridad.png" alt="Icono">
            </div>
            <input type="text" formControlName="nombreCompleto" placeholder="Nombre completo" class="single-line-input" id="nombreCompleto">
          </div>

          <div class="cuadrado-azul">
            <div class="icono-imagen">
              <img src="assets\seguridad.png" alt="Icono">
            </div>
            <input type="text" formControlName="fechaCumpleaños" placeholder="Nombre completo" class="single-line-input" id="fechaCumpleaños">
          </div>
                           
          <div class="cuadrado-azul">
            <div class="icono-imagen">
              <img src="assets\seguridad.png" alt="Icono">
            </div>
            <input type="text" formControlName="nota" placeholder="Nota" class="single-line-input" id="nota">
          </div>
        </div>
        
        <button type="submit" class="cuadrado-verde-guardar" [disabled]="creandoIdentificacion">
          <div class="icono-imagen">
            <img src="assets\seguridad.png" alt="Icono">
          </div>
          <h2>GUARDAR</h2>
        </button>&nbsp;

        <button type="button" class="cuadrado-rojo-cerrar" (click)="cancelar()">
          <div class="icono-imagen">
            <img src="assets\seguridad.png" alt="Icono">
          </div>
          <h2>CANCELAR</h2>
        </button>
      </form>
    </div>
  </div>
</div>
