<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 with-background">
        <!-- Contenido para el 1/4 -->
      </div>
      <div class="col-md-9 der-background">
        <!-- Contenido para el 3/4 restante -->
        <div class="titulo-azul">
            <div class="icono-imagen-primero">
                <img src="assets/logomini.png" alt="Icono">
            </div>
            <h1 style="padding-left: 5%">ELEMENTOS GUARDADOS</h1>
        </div>
        <div class="cuadrado-azul">
            <div class="icono-imagen">
                <img src="assets/seguridad.png" alt="Icono">
            </div>
            <h1>TARJETAS</h1>
            <a (click)="irTarjetas();">
                <img class="imagen-boton" src="assets/mas.png" alt="Botón">
            </a>
        </div>
        
        <div class="cuadrado-azul-1">
            <div class="icono-imagen">
                <img src="assets/seguridad.png" alt="Icono">
            </div>
            <h1>IDENTIFICACIONES</h1>
            <a (click)="irIdentificaciones();">
                <img class="imagen-boton" src="assets/mas.png" alt="Botón">
            </a>
        </div>

        <div class="cuadrado-azul-2">
            <div class="icono-imagen">
                <img src="assets/seguridad.png" alt="Icono">
            </div>
            <h1>SECRETOS</h1>
            <a (click)="irSecretos();">
                <img class="imagen-boton" src="assets/mas.png" alt="Botón">
            </a>
        </div>

        <div class="cuadrado-azul-3">
            <div class="icono-imagen">
                <img src="assets/seguridad.png" alt="Icono">
            </div>
            <h1>LOGIN</h1>
            <a (click)="irLogin();">
                <img class="imagen-boton" src="assets/mas.png" alt="Botón">
            </a>
        </div>
        
        <button class="favoritas">
                <div class="icono-imagen">
                    <img src="assets/seguridad.png" alt="Icono">
                </div>
                <h1>CLAVES FAVORITAS</h1>
                <a (click)="irClavesFavoritas();">
                    <img class="imagen-boton" src="assets/mas.png" alt="Botón">
                </a>
        </button>

        <button class="reporteSeguridad">
            <div class="icono-imagen">
                <img src="assets/seguridad.png" alt="Icono">
            </div>
            <h1>REPORTE SEGURIDAD</h1>
            <a (click)="irReporteSeguridad();">
                <img class="imagen-boton" src="assets/mas.png" alt="Botón">
            </a>
        </button>
      </div>
    </div>
  </div>
  

  
  

  
