<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 with-background">
        <!-- Contenido para el 1/4 -->
      </div>
      <div class="col-md-9 der-background">
        <!-- Contenido para el 3/4 restante -->
        <div class="titulo-azul">
          <div class="icono-imagen-primero">
            <img src="assets/logomini.png" alt="Icono">
          </div>
              <h1 style="padding-left: 5%">ELEMENTOS GUARDADOS</h1>
        </div>
        <div class="cuadrado-azul-header">
          <div class="icono-imagen">
            <img src="assets/seguridad.png" alt="Icono">
          </div>
          <h1>TARJETAS</h1>
          <a (click)="anadirTarjetas();">
            <img class="imagen-boton-add" src="assets/mas.png" alt="Botón">
          </a>
        </div>
  
        <div class="fondo-cuadrado-verde" id="contenidoDinamico">
          <div class="cuadrado-azul" *ngFor="let tarjeta of tarjeta">
            <div class="icono-imagen">
              <img src="assets/icont.png" alt="Icono">
            </div>
            <h3 class="titulo-cuadrado">{{ tarjeta.nombre }}</h3>
            <img class="imagen-boton" src="assets/editar.png" alt="Botón" (click)="editarTarjeta(tarjeta.id)">
            <img class="imagen-boton" src="assets/eliminar.png" alt="Botón" (click)="eliminarTarjeta(tarjeta.id)">
            <img class="imagen-boton" src="assets/verclave.png" alt="Botón" (click)="seleccionarTarjeta(tarjeta)">
            <div class="texto-cuadro-blanco">
              <ng-container *ngIf="tarjeta === tarjetaSeleccionada; else enmascarada">{{ tarjeta.clave }}</ng-container>
              <ng-template #enmascarada>{{ '*'.repeat(tarjeta.clave.length) }}</ng-template>
            </div>          
          </div>
        </div>
        
        
        <button class="cuadrado-verde-guardar" (click)="salir();">
          <div class="icono-imagen">
            <img src="assets/seguridad.png" alt="Icono">
          </div>
          <h2>VOLVER</h2>
        </button>
        
  
      </div>
    </div>
  </div>