<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 with-background">
        <!-- Contenido para el 1/4 -->
      </div>
      <div class="col-md-9 der-background">
        <!-- Contenido para el 3/4 restante -->
        <div class="titulo-azul">
          <div class="icono-imagen-primero">
            <img src="assets/logomini.png" alt="Icono">
          </div>
              <h1 style="padding-left: 5%">ELEMENTOS GUARDADOS</h1>
        </div>
        <div class="cuadrado-azul-header">
          <div class="icono-imagen">
            <img src="assets/seguridad.png" alt="Icono">
          </div>
          <h1>LOGIN</h1>
          <a (click)="anadirLogin();">
            <img class="imagen-boton-add" src="assets/mas.png" alt="Botón">
          </a>
        </div>
  
        <div class="fondo-cuadrado-verde" id="contenidoDinamico">
          <div class="cuadrado-azul" *ngFor="let login of login">
            <div class="icono-imagen">
              <img src="assets\seguridad.png" alt="Icono">
            </div>
            <h3 class="titulo-cuadrado">{{ login.nombre }}</h3>
            <img class="imagen-boton" src="assets/editar.png" alt="Botón">
            <img class="imagen-boton" src="assets/eliminar.png" alt="Botón">
            <img class="imagen-boton" src="assets/verclave.png" alt="Botón">
            <div class="texto-cuadro-blanco">{{ login.clave }}</div>
          </div>
        </div>
        
        
        <button class="cuadrado-verde-guardar" (click)="salir();">
          <div class="icono-imagen">
            <img src="assets/seguridad.png" alt="Icono">
          </div>
          <h2>VOLVER</h2>
        </button>
        
  
      </div>
    </div>
  </div>